@charset "utf-8";
/* Hack Poly CSS */
/* Color Values
	primary blue:		#0071bc;
	secondary blue:		#3498db;
	secondary greenish: #1ABC9C;
*/

html, body {
	height: 100%;
}

.ic-prefix{
	position:relative;
	margin-left: 15px;
}

.ic-prefix i{
	position:absolute;
	left:-15px;
}

.footer {
	background-color:#FFF;
	margin-top:28px;
	margin-bottom:-20px;
}

.clubimg {
	vertical-align: middle;
	max-height: 400px!important;
}

.sponsor-logo-row-1{
	display:block;
	width:100%;
	height:250px;
}

.sponsor-logo-row-1 img{
	vertical-align: middle;
	max-height: 250px;
	margin-left: 15%;
	margin-right: 15%;
	width:70%;
	float:left;
}

.sponsor-logo-row-2{
	display:block;
	width:100%;
	height:200px;
	line-height:200px;
	vertical-align:middle;
}

.sponsor-logo-row-2 img{
	display:inline-block;
	vertical-align: middle;
	line-height: 200px;
	max-height: 200px;
	margin-left: 4%;
	margin-right: 4%;
	max-width:40%;
}

.sponsor-logo-row-2 span {
	display:inline-block;
	vertical-align: middle;
	line-height: 200px;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:49%;
}

.sponsor-logo-row-3 img{
	vertical-align: middle;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.sponsor-logo-row-3{
	display:block;
	width:100%;
	height:200px;
}

.sponsor-logo{
	-webkit-filter:grayscale(95%);
	-webkit-transition:webkit-filter;
}

.sponsor-logo:hover{
	-webkit-filter:none;
}

.schedule-item{
	display:block;
	width:100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.schedule-item .time {
	display:inline-block;
	width: 150px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.schedule-item .event {
	display:inline-block;
	width:60%;
	text-align: left;
	font-size: 24px;
}

.schedule {
	padding-top:10px;
	padding-bottom:20px;
}

p.section {
	padding-left:100px;
	padding-right:100px;
	font-size: 20px;
}

.section {
	margin-bottom: 30px;
}

.main-offset{
	height: 100px;
	width:auto;
}

.landing {
	/*background:#0071bc;*/
	background-image: url("CLA_Portrait.png");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	
	height: 700px;
}

.landing .container {
	position: relative;
	height: 100%;
}

.landing .container .btn-group{
	position:absolute;
	bottom:75px;
	left:0px;
}

.background-image-1{
	background-image: url("cp_night.png");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
}

.interrupt {
	height:500px;
	text-align: center;
	color:#FFF;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}

.interrupt h1 {
	margin-top: 0px;
	padding-top: 20px;
	font-size: 72px;
}

.landing-text {
	padding-top: 50px;
	color:#fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}
.landing-text h1 {
	font-size:72px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.landing-text p{
	text-shadow: none;
	font-size: 24px;
	color:#3498db;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, .6);
}

.landing-info a{
	color:#fff;
	text-decoration: underline;
}

.landing-info i{
	color:#3498db;
	text-shadow: none;
	text-align: center;
	width:15px;
}

.landing-info{
	font-size: 16px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}

.background-1{
	background:#FFF;
	color:black;
}
.background-2 {
	background:#0071bc;
	color:white;
}

.background-1 h1 {
	color:#0071bc!important;
}

.background-1 h3 {
	color:#0071bc!important;
}

.background-1 h4 {
	color:#0071bc!important;
}

.background-2 h3 {
	color:white;
}

.background-2 h4 {
	color:white;
}

.info-section {
	width:100%;
}

.icon-bar {
	color:#0071bc;
}

.collab{
	text-align: center;
}

.collab img {
	max-width: 100%;
	margin-right: 5px;
	margin-left:5px;
	max-height:50px;
	margin-bottom: 40px;
}

.collab h1 {
	font-size: 65px;
}

.footer {
	color:#000;
	text-align: center;
}

/* Bootstrap overrides */
.navbar-default{
	background-color: #FFFFFF!important;
	color:#0071bc;
	border-bottom:0px;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.3);
}

.navbar-default .navbar-nav li a {
	color:#0071bc;
	line-height: 60px;
	vertical-align: middle;
}

.navbar-default .navbar-brand{
	color:#0071bc;
}

.jumbotron {
	background:none;
}

.jumbotron h1 small {
	color:#FFF;
}

.time {
	text-align: center;
}

.social-icon a{
	font-size: 30px;
	text-align: right;
}

.social-icon i {
	vertical-align: middle;
	line-height: 60px;
}

.social-icon
{
	vertical-align: middle;
	line-height: 60px;
}
