h1{
	font-family:'Quicksand';
	font-weight: 400;
}

body{
	font-family:'Oswald';
}

.animated-nav{
	display:none;
	opacity: 0;

	-webkit-transition: height 0.7s, opacity 0.7s;
	transition: height 0.7s, opacity 0.7s;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.image-module img{
	width:100%;
	height:auto;

	position:absolute;
	left:0;
	top:0;

	z-index:-20;
}

.image-module .overlay {
	width:100%;
	height: 100%;

	background: black;
	opacity: .3;

	position:absolute;
	top:0;
	left:0;
	z-index:-19;
}

.image-module {

}

.hero-line h1{
	font-family:'Quicksand';
	font-weight: 400;

	font-size: 48px;

	text-align: center;
	color:white;

	margin-top:40%;
	margin-bottom:20%;
}

.hero-line .action {
	margin-top:20%;
}

.hero-line .action button{
	display:block;
	max-width: 100%;
	width:200px;
	margin-right: auto;
	margin-left: auto;
}

.hero-line{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.background-video{
	width: 100%;
	height:auto;

	position:fixed;

	left:0;
	top:0;

	z-index: -20;

	background-color:black;

	/*filter: url("#blur");*/
	
    -webkit-filter: blur(5px); 
	-moz-filter: blur(5px);
	filter: blur(5px);
	
}

.main-content {
	background-color:white;
	opacity:0.5;

	position:relative;

	width:100%;
	height:100%;

	font-family: 'Oswald', sans-serif;
	margin-top:20%;
	padding:10px;
}

.header-content{
	width:100%;
	height:auto;
	text-align: center;
	vertical-align: center;
	color:white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	padding-top:10%;
	padding-bottom: 10%;
}

.header-content h1{
	font-size:64px;
}