h1, h2{
	font-family:'Raleway';
	font-weight: 200;
}

body{
	font-family:'Oswald';
	font-weight:400 !important;
}

/* Bootstrap Overrides */
.container-fluid {
	padding:0px !important;
}
/* End Bootstrap Overrides */

/* Custom Styling */
.space20 {
	width:100%;
	height: 20%;
}
#what {
	margin-top: 20%;
}

#about h2 {
	display: block;
	text-align: center;
	width: 100%;
}

#prenav{
	display: block;
	position:fixed;
	width:100%;
	height:auto;
	top:0;
	left:0;

	padding-top: 10px;
	padding-bottom: 10px;
}

#prenav img{
	display: block;
	max-width:200px;
	max-height:100%;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand img{
	display: block;
	max-width:200px;
	max-height:100%;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand {
	padding:0px;
}

.animated-nav{
	display:none;
	opacity: 0;

	-webkit-transition: height 0.7s, opacity 0.7s;
	transition: height 0.7s, opacity 0.7s;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.image-module img{
	width:100%;
	height:auto;

	z-index:-20;
}

.image-module .module-fixed {
	position:fixed;
	top:0px;
	left:0px;
}

.image-module .module-floating {
	position:absolute;
	top:0px;
	left:0px;
}

.image-module .overlay {
	width:100%;
	height: 100%;

	background: black;
	opacity: .3;

	position:absolute;
	top:0;
	left:0;
	z-index:-19;
}

.image-module {
	position:relative;
	overflow: hidden;
	margin-bottom:8%;
}

.hero-line {
	text-align: center;
}

.hero-line h1{
	font-weight: 200;

	font-size: 56px;

	text-align: center;
	color:white;

	margin-top:25%;
	margin-bottom:10%;
}

.hero-line .action {
	display: inline-block;
	margin-top:0%;
	max-width: 100%;
}

.hero-line .action button{
	
	width:200px;
	font-family:'Oswald';
	font-weight:400 !important;

	margin: 0 20px;
}

.hero-line{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.blur-module h2 {
	padding: 20px 0;
}

.blur-module {
	background-color: white;
	position:relative;
	overflow: hidden;
    /*background-repeat:no-repeat;
    background-position:1000px 1000px;*/
   
}

.blur-module::before {
	display: block;
	position: absolute;
	/*z-index:-1;*/
	content: ' ';

	width:100%;
	height:100%;

	background-image: url('cp_night_gray.png');
	background-position: center 0px;
	background-attachment: fixed;
	background-size: cover;
	background-color:black;

	filter: url('../index.html/#blur');
	-webkit-filter: url(#blur);

	-webkit-filter: blur(6px); 
	-moz-filter: blur(6px);
	filter: blur(6px);
	opacity: 0.4;

}

.background-video{
	width: 100%;
	height:auto;

	position:fixed;

	left:0;
	top:0;

	z-index: -20;

	background-color:black;

	/*filter: url("#blur");*/
	
    -webkit-filter: blur(5px); 
	-moz-filter: blur(5px);
	filter: blur(5px);
	
}

.main-content {
	background-color:white;
	opacity:0.5;

	position:relative;

	width:100%;
	height:100%;

	font-family: 'Oswald', sans-serif;
	margin-top:20%;
	padding:10px;
}

.header-content{
	width:100%;
	height:auto;
	text-align: center;
	vertical-align: center;
	color:white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	padding-top:10%;
	padding-bottom: 10%;
}

.header-content h1{
	font-size:64px;
}