h1, h2{
	font-family:'Raleway';
	font-weight: 200;
}

body{
	font-family:'Oswald';
	font-weight:400 !important;
	height:100%;
}

/* Bootstrap Overrides */
.container-fluid {
	position:inherit;
	padding:0px !important;
	z-index:-3;
}

.navbar-logo img{
	display: block;
	max-width:200px;
	height:60px;
	vertical-align: middle;

	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-logo {
	display:block;
	padding:0px;
	width: 200px;
	height:auto;
	margin-right: auto;
	margin-left: auto!important;
}

/* End Bootstrap Overrides */

/* Custom Styling */

#top-image {
	display:block;
	background-image:url("cp_night_gray.png");
	background-size: cover;
}

.navbuttons{
	float:right;
}

.space20 {
	width:100%;
	height: 20%;
}

#prenav{
	display: block;
	width:100%;
	height:auto;
	top:0;
	left:0;

	padding-top: 10px;
	padding-bottom: 10px;
}

#prenav img{
	display: block;
	max-width:200px;
	max-height:60px;
	margin-right: auto;
	margin-left: auto;
}



.animated-nav{
	display:none;
	opacity: 0;

	-webkit-transition: height 0.7s, opacity 0.7s, top 0.8s;
	transition: height 0.7s, opacity 0.7s, top 0.8s;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#information{
	display: block;
	width:100%;

	height:5 00px;
	padding-top:20px;
}

#sponsors {
	text-align: center;
}

#sponsors img {
	max-height: 200px;
}

#sponsors .block {
	display:block;
	text-align:center;
	margin-top:50px;
	margin-bottom: 50px;
}

#sponsors .block a {
	margin-left:20px;
	margin-right:20px;
}

.footer {
	height: 60px;
	background: #f8f8f8;
	color:black;
	
	border: solid #e7e7e7;
	border-top: 4px 1px 0 1px;
}

.subtle{
	background-image:url("grey_@2X.png");
	background-repeat: repeat;
	height:100%;
	margin-top: 0px;
	overflow: auto;
}

.font-large {
	font-size:24px;
}


.no-margin {
	margin: 0px !important;
}

.title-line { 
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid #000; 
	line-height:0.1em; 
	margin:50px 0 50px; 
} 

.title-line span { 
	background-image: url("grey_@2X.png");
	background-repeat: repeat; 
	background-position:center center;
	padding:0 10px; 
}

.left-title-line { 
	width:100%; 
	text-align:left; 
	border-bottom: 1px solid #000; 
	line-height:0.1em; 
	margin:50px 0 50px; 
} 

.left-title-line span { 
	background-image: url("grey_@2X.png");
	background-repeat: repeat; 
	background-position:center center;
	padding:0 10px; 
}

.left-title-line .white { 
	background: white !important;
}

.page {
	background:white !important;
	color:black;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.hero-line h1{
	font-weight: 200;

	font-size: 56px;

	color:white;

	margin-bottom: 10%;
}

.hero-line p {
	color:white;
	font-size:36px;
	font-family: 'Raleway';
	font-weight: 200;
}

.hero-line .action {
	display: inline-block;
	margin-top:0%;
	max-width: 100%;
}

.hero-line .action button{
	
	width:200px;
	font-family:'Oswald';
	font-weight:400 !important;

	margin: 0 20px;
}

.hero-line{
	display: block;
	width:100%;
	margin-top:7%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;
}

.blur-module h2 {
	padding: 20px 0;
}

.blur-module {
	background-color: white;
	position:relative;
	overflow: hidden;
    /*background-repeat:no-repeat;
    background-position:1000px 1000px;*/
   
}

.blur-module::before {
	display: block;
	position: absolute;
	/*z-index:-1;*/
	content: ' ';

	width:100%;
	height:100%;

	background-image: url('cp_night_gray.png');
	background-position: center 0px;
	background-attachment: fixed;
	background-size: cover;
	background-color:black;

	filter: url('../index.html/#blur');
	-webkit-filter: url(#blur);

	-webkit-filter: blur(6px); 
	-moz-filter: blur(6px);
	filter: blur(6px);
	opacity: 0.4;

}
