@charset "utf-8";
/* Hack Poly CSS */


#title_img {
	width:100%;
	height:321px;
	background-color:black;
	margin-bottom:-127px;
}

#title {
	background-color:#E1F4FD;
	margin-bottom:-28px;
	margin-left:auto;
	margin-right:auto;
}

#intro {
	background-color:#E1F4FD;
	margin-bottom:-28px;
}

#about {
	background-color:#E1F4FD;
	margin-bottom:-28px;
}

#sponsor {
	background-color:#E1F4FD;
	margin-bottom:-28px;
}

#schedule {
	background-color:#E1F4FD;
	margin-bottom:-29px;
}

#faq {
	background-color:#E1F4FD;
	margin-bottom:-28px;
}

#footer {
	background-color:#29424E;
	margin-top:28px;
	margin-bottom:-20px;
}

img.titleImg {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

h1.section {
	padding-top:0px;
	padding-left:30px;
	font-size:42px;
	color:#00798E;
}

h1.faq {
	padding-left:0px;
	padding-bottom:0px;
	font-size:20px;
	color:#00798E;
}

p.section {
	padding-left:100px;
	padding-right:100px;
	font-size: 20px;
}

p.about {
	text-align:center;
	font-size:60px;
	color:#00798E;
}

p.aboutAlt {
	text-align:center;
	font-size:30px;
	margin-top:-20px;
}

p.clear {
	clear:both;
}

.faqLeft {
	padding-left:100px;
	padding-bottom:10px;
	width:250px;
	font-size:15px;
	float:left;
}

.faq {
	padding-left:40px;
	width:250px;
	font-size:15px;
	float:left;
}

p.footer {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	color:#E1F4FD;
}

p.top {
	text-align:right;
	padding-bottom:40px;
	padding-right:30px;
	clear:both;
}

a.title {
	margin-left:150px;
	text-decoration:none;
}

.button-link {
    padding: 10px 15px;
    background: #003D58;
    color: #D7EFF9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #001E33;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	text-decoration:none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	margin-left:537px;
}
.button-link:hover, .button-link-alt:hover, .button-link-top:hover {
    background: #002A41;
    border: solid 1px #005070;
    text-decoration: none;
}
.button-link:active, .button-link-alt:active, .button-link-top:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #001227;
    border: solid 1px #003D58;
}

.button-link-alt {
    padding: 10px 15px;
    background: #003D58;
    color: #D7EFF9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #001E33;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	text-decoration:none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin-left:42px;
}

.button-link-top {
    padding: 2px 5px;
    background: #003D58;
    color: #D7EFF9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #001E33;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	text-decoration:none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.main-offset{
	height: 100px;
	width:auto;
}

.landing {
	background:#0071bc;
	background-position:center;
	background-repeat: no-repeat;
	height: 500px;
}

.landing-text {
	width:50%;
	color:#fff;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

.landing-info a{
	color:#fff;
	text-decoration: underline;
}

.landing-info i{
	color:#1ABC9C;
}

.landing-info{
	font-size: 20px;
}

.background-1{
	background:#FFF;
	color:black;
}
.background-2 {
	background:#0071bc;
	color:white;
}

.background-1 h3 {
	color:#0071bc!important;
}

.background-1 h4 {
	color:#0071bc!important;
}

.background-2 h3 {
	color:white;
}

.background-2 h4 {
	color:white;
}

.info-section {
	width:100%;
}

/* Bootstrap overrides */
.navbar-default{
	background-color: #FFFFFF!important;
	color:#0071bc;
	border-bottom:0px;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.3);
}

.navbar-default .navbar-nav li a {
	color:#0071bc;
	line-height: 60px;
	vertical-align: middle;
}

.navbar-default .navbar-brand{
	color:#0071bc;
}
.jumbotron {
	background:none;
}
.jumbotron h1 small {
	color:#FFF;
}
.time {
	width:100px;
	float:left;
	text-align: center;
}

